@using ESportsTeams.Infrastructure.Data.Entity;
@using ESportsTeams.Core.Models.ViewModels.TournamentViewModels;
@model TournamentDetailsViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb fw-bold fs-3">
                        @Model.EventTitle
                    </ol>
                </div>
            </div>
        </div>
    </nav>
</div>
<section class="bg-white space-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-4 mb-sm-0">
                <img alt="Image" src="@Model.Image" class="rounded img-fluid" />
            </div>
            <!--end of col-->
            <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                <div>
                    <h1 class="mb-2 fw-bold">@Model.Title</h1>
                    <h2 class="lead mb-3 fw-bold alert alert-success"> Address: @Model.Address.City, @Model.Address.Country</h2>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 20 20">
                            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                        </svg>
                        <span class="badge badge-secondary mr-10 fs-2">@Model.StartTime</span>
                    </div>
                    <div>
                       &nbsp;
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-3-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z" />
                        </svg>
                        <a href="@Model.Website" target="_blank">Website</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                        </svg>
                        <a href="@Model.Twitter" target="_blank">Twitter</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                        </svg>
                        <a class="bi bi-facebook" href="@Model.Facebook" target="_blank">Facebook</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg>
                        <a href="@Model.Contact" target="_blank">Contact</a>                       
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div class="col-sm-push-2">
                        <a asp-controller="Tournament" asp-action="Details" asp-route-Id="@Model.Id" class="btn btn-success">List of Teams</a>
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div class="col-sm-push-2">
                        <a asp-area="Administrator" asp-controller="Tournament" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-danger">Edit</a>
                    </div>
                </div>
                <div>
                    <div class="btn-group mb-2">
                        <button type="button" class="btn btn-success btn-lg">Join Tournament</button>
                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split dropdown-toggle-no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-dots-three-horizontal"></i>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space-sm">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-8 col-lg-7">
                <h5 class="mb-4 fw-bold">Description</h5>
                <article>
                    @Model.Description
                </article>
                <hr>
                <h5 class="mb-4">Discussion</h5>
                <div class="card">
                    <div class="card-header bg-secondary d-flex justify-content-between">
                        <button class="btn btn-secondary" type="button" data-target="#comment-reply" data-toggle="collapse" aria-expanded="false" aria-controls="comment-reply">Post a reply</button>
                        <form class="d-flex align-items-center">
                            <span class="mr-2 text-muted text-small text-nowrap">Sort by:</span>
                            <select class="custom-select">
                                <option value="alpha">Alphabetical</option>
                                <option value="old-new" selected>Newest</option>
                                <option value="new-old">Popular</option>
                                <option value="recent">Recently Updated</option>
                            </select>
                        </form>
                    </div>
                    <div class="collapse" id="comment-reply">
                        <form class="card-body">
                            <div class="form-group">
                                <textarea class="form-control from-control-lg" id="comment-reply-text" name="comment-reply" rows="4" placeholder="Type your review here"></textarea>
                            </div>
                            <div class="mb-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="notify-reply" id="check-notify">
                                    <label class="custom-control-label text-small" for="check-notify">Notify me when someone replies</label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-success mr-3">Submit reply</button>
                                <a href="#comment-reply" class="text-small text-muted" data-toggle="collapse" aria-expanded="true" aria-controls="comment-reply">Cancel</a>
                            </div>
                        </form>
                    </div>
                    <ul class="list-group list-group-flush list-group-comments">
                    </ul>
                </div>

            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div><i class="icon-trophy mr-1"></i>PRIZE</div>
                                <span> @string.Format($"{Model.PrizePool:f2}")$</span>                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
