@using ESportsTeams.Core.Models.ViewModels.UserViewModel;

@model IEnumerable<UserConciseViewModel>
@{
    ViewData["Title"] = "All Users";
}

<h2 class="text-center">User management</h2>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@if (TempData["InfoMessage"] != null)
{
    <div class="aler alert-info">
        <strong>Information! </strong> @TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}

<section>
    <div>
        @using (Html.BeginForm("Index", "Users", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        <span><b>Search By:</b></span>
                        @Html.RadioButton("searchBy","Username",true)
                        <text>User name</text>
                        <span><b>Search By:</b></span>
                        @Html.RadioButton("searchBy","Id",true)
                        <text>User Id</text>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("searchValue",null, new{Class = "form-control", placeholder="Enter Username or Id"})
                    </td>
                    <td>
                       &nbsp;
                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="text-center row">
        @foreach (var user in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                @*<img class="card-img-top" style="width: 18rem;"
            src="@user.ImageUrl" alt="Event Image">*@
                <div class="card-body">
                    <p class="mb-0 fw-bold alert-info">User Id: @user.Id</p>
                    <h5 class="card-name mt-1 alert-info">Username: @user.Username</h5>
                    <h6 class="card-name mt-1 alert-info">Email: @user.Email</h6>
                </div>
                @if (!user.IsBanned)
                {
                    <p class="fs-10 fw-bold alert-warning"> NOT BANNED</p>
                }
                else
                {
                    <p class="fs-10 fw-bold alert-warning">BANNED</p>
                }
                <div class="form-group">
                    <div class="col-sm-push-2">
                        <a asp-area="Administrator" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id" class="btn btn-success">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>



