@using ESportsTeams.Core.Models.ViewModels.TeamViewModels;
@using Microsoft.AspNetCore.Identity;
@model DetailsTeamViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb fw-bold fs-3">
                        @if (@Model.Category.ToString() == "Dota2")
                        {
                            <li>Dota 2</li>                           
                        }
                        else if (@Model.Category.ToString() == "CSGO")
                        {
                            <li>Counter-Strike: Global Offensive</li>
                        }
                        else if (@Model.Category.ToString() == "PUBG")
                        {
                            <li>PlayerUnknown's Battlegrounds</li>
                        }
                        else if (@Model.Category.ToString() == "LeagueOfLegends")
                        {
                            <li>League Of Legends</li>
                        }
                        else if (@Model.Category.ToString() == "VALORANT")
                        {
                            <li>Valorant</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </nav>
</div>
<section class="bg-white space-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-4 mb-sm-0">
                <img alt="Image" src="@Model.Image" class="rounded img-fluid" />
            </div>
            <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                <div>
                    <h1 class="mb-2 fw-bold">@Model.Name</h1>
                    <h2 class="lead mb-3 alert alert-success fw-bold">@Model.Address.City, @Model.Address.Country</h2>
                    @if (Model.loggedUserId == Model.OwnerId)
                    {
                        <h3 class="breadcrumb-item active" aria-current="page">TEAM ID:@Model.Id</h3>

                    }
                    <div>
                        <span class="badge badge-secondary mr-10 fs-2">@Model.Category</span>
                    </div>
                    <div>                      
                        <h5 class="mb-4">Players MMR:  @Model.AvarageMMR</h5>
                    </div>
                    <div>                      
                        <h5 class="mb-4">Players Count:  @Model.Players.Count()</h5>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<section class="space-sm">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-8 col-lg-7">
                <h5 class="mb-4">Description</h5>
                <article>
                    @Model.Description
                </article>
                <hr>                
            </div>
            <div class="col-22 col-md-8">
                <div class="card">
                    <ul class="list-group list-group-flush">                      
                        <li class="list-group-item  fw-bold">
                            <div class="d-flex justify-content-between">
                                <div><i class="mt-1"></i> Owner</div>
                                <span>@Model.Owner.UserName</span>
                            </div>
                            <br />
                            <div class="d-flex justify-content-between">
                                <div><i class="mt-1"></i>Owner ID:</div>
                                <span>@Model.Owner.Id</span>
                            </div>
                        </li>                           
                    </ul>
                </div>               
            </div>
            
        </div>
    </div>
</section>
